<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      Indigenas
    </h1>
    <ul>
      <li>589 – Atikum</li>
      <li>590 – Fulni-ô</li>
      <li>591 – Kambiwá</li>
      <li>592 – Kapinawá</li>
      <li>593 – Pankará</li>
      <li>594 – Pankararu</li>
      <li>595 – Truká</li>
      <li>596 - Xucuru</li>
    </ul>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
