<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/mestres">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Mestre Biu dos Anjos
     </h1>
    <div class="card" style="width: 100%;">
      <img src="assets/imgs/mestres/banjos.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="fs-6" style="text-align: right; font-style: italic;">
         GABRIEL PEREIRA FILHO
      </p>
      <p class="card-text" style="text-align: justify;">
        Gabriel Pereira Filho começou a fazer carrancas no estilo do mestre Guarany, mas foi graças ao seu trabalho com anjos barrocos que ganhou o apelido de Biu dos Anjos.  Este artesão, criador de anjos alegres e gordinhos, estudou a arte de Aleijadinho e deu aula para menores infratores. Ele acredita que o conhecimento e a alegria da sua arte devem ser compartilhados.
      </p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <ion-icon class="fs-1 " routerLink="/mestres" name="arrow-back-circle-outline"></ion-icon>
    </div>
  </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>
