<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      Food Bike
    </h1>
    <ul style="list-style-type:none;">
      <li>Rua 1 | 5 - ENOLLA DE LIMA SILVA <sup><small>Alameda dos Mestres</small> </sup></li>
      <li>Rua 4 - CARLA VIVIANE CARDOSO DE FRANÇA</li>
      <li>Rua 5 - ROBERTO CRISTOVAO DE OLIVEIRA</li>
    </ul>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
