<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/mestres">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Paulo do Bode
     </h1>
    <div class="card" style="width: 100%;">
      <img src="assets/imgs/mestres/paulo_do_bode.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="fs-6" style="text-align: right; font-style: italic;">
    PAULO DE SOUZA LIMA
      </p>
      <p class="card-text" style="text-align: justify;">
         Paulo de Souza Lima começou no artesanato fazendo umas gamelinhas e colherzinhas de pau com pedaços de madeira que encontrava quando ia para a roça com seu pai. Hoje continua produzindo diversos utensílios, mas foi nas esculturas de animais que se encontrou como artista.  Produz uma variedade de bancos com características de animais, tendo como melhores representantes do seu trabalho o banco tatu e o tamanduá. Tem peças espalhadas pelo Brasil e pelo mundo e acha que é muito importante o uso da mídia e a participação em eventos que promovem a divulgação e sustentação de sua arte.
      </p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <ion-icon class="fs-1 " routerLink="/mestres" name="arrow-back-circle-outline"></ion-icon>
    </div>
  </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>

