<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/menu">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Salões e Galerias
      </h1>
      <div class="opcoes">
        <ul style="list-style-type: none;">
          <li>
            <ion-item slot="start">
              <ion-text  routerLink="/salao/ana">
                Ana Holanda
              </ion-text>
              <ion-badge color="media" routerLink="/salao/ana"> Entre</ion-badge>
            </ion-item>
          </li>
          <li>
            <ion-item slot="start">
              <ion-text  routerLink="/expositores/pabpe">
                Galeria de Reciclados
              </ion-text>
              <ion-badge color="media" routerLink="/expositores/pabpe"> Entre </ion-badge>
            </ion-item>
          </li>
          <li>
            <ion-item slot="start">
              <ion-text  routerLink="/expositores/pabpe">
              Religioso
              </ion-text>
              <ion-badge color="media" routerLink="/expositores/pabpe"> Entre</ion-badge>
            </ion-item>
          </li>
        </ul>
      </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>

