<ion-app>
  <ion-header>
    <ion-item>      
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/menu">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>    
  </ion-header>
  <ion-content>
     <h1>
      ALAMEDA DOS MESTRES 
     </h1>
     <h2>
      
     </h2>
     
      <br>
      <p>
      <span class="apelido">
        Nado 
      </span>
      <br>
      <span class="nome">
        (AGNALDO DA SILVA)
      </span>
      <br>
      Agnaldo da Silva é um artista de Olinda. Viveu, desde sempre, uma vida que lida com o barro como matéria prima de arte e criação. Ainda pequeno, começou fazendo brinquedos, depois cerâmicas decorativas e utilitárias. Descobriu a música nas peças de barro, criando escalas musicais nos instrumentos de sopro e percussão, inspirados em formas da natureza como pássaros, peixes e raízes. Hoje tem o projeto Som do Barro.
     </p>
     <p>
      <span class="apelido">
        Lula Vassoureiro
      </span>
      <br>
      <span class="nome">
        (AMARO ARNALDO DO NASCIMENTO)
      </span>
      <br>
      Amaro Arnaldo do Nascimento trabalha com artesanato há quase 60 anos, no município de Bezerros, terra dos Papangus, uma brigadeira das pessoas saírem às ruas de máscaras, bastante tradicional no Carnaval. Lula faz máscaras de papel em tamanhos variados, desde miniaturas, passando pelas de tamanho natural, até as gigantes, com reconhecimento internacional do seu trabalho.
     </p>
     <p>
      <span class="apelido">
        Carlos B.
      </span>
      <br>
      <span class="nome">
        (CARLOS FERNANDO BARBOSA DE BARROS)
      </span>
      <br>
      Carlos Fernando Barbosa encontrou a sua vocação para o artesanato deste os 15 anos. Natural de Sertânia, o artista afirma que seu ponto forte é a produção de camponeses em madeira; mas também produz peças religiosas e carros de boi. Sua principal matéria-prima é a madeira de umburana, bem característica de sua região.
     </p>
     <p>
      <span class="apelido">
        Damiana
      </span>
      <br>
      <span class="nome">
        (DAMIANA MARIA DE LIMA)
      </span>
      <br>
      Foi na renda francesa frivolitê que Damiana Maria de Lima encontrou a verdadeira paixão de sua vida. Desde os 13 anos de idade, a mestre produz vestidos, blusas, passadeiras, sapatos e até acessórios. Natural de Orobó, ela repassou seu conhecimento para várias artesãs de associações do município e também para suas irmãs.
     </p>
     <p>
      <span class="apelido">
        Davi Teixeira
      </span>
      <br>
      <span class="nome">
        (DAVI TEIXEIRA DA SILVA)
      </span>
      <br>
      Nascido na cidade de Bezerros, interior de Pernambuco, Davi Teixeira é filho de agricultores e sofreu na pele com as dificuldades da vida no Agreste. Em 2005, decidiu começar a escrever, retratando todas as histórias que viu e passou. Encantou-se pela poesia e pela tradição da arte do cordel e logo decidiu que nunca mais iria parar.
     </p>
     <p>
      <span class="apelido">
        Davi Teixeira
      </span>
      <br>
      <span class="nome">
        (DAVI TEIXEIRA DA SILVA)
      </span>
      <br>
      Nascido na cidade de Bezerros, interior de Pernambuco, Davi Teixeira é filho de agricultores e sofreu na pele com as dificuldades da vida no Agreste. Em 2005, decidiu começar a escrever, retratando todas as histórias que viu e passou. Encantou-se pela poesia e pela tradição da arte do cordel e logo decidiu que nunca mais iria parar.
     </p>
     <p>
      <span class="apelido">
        Tapeçaria Lagoa do Carro
      </span>
      <br>
      Fundada por um grupo de mulheres em maio de 1988, a Associação das Tapeceiras de Lagoa do Carro nasceu quando artesãs buscavam melhor remuneração pelo seu trabalho. E assim, fortalecendo tradição dos tapetes bordados a mão a associação se mantém até hoje. 
     </p>
     <p>
      <span class="apelido">
        Cabral
      </span>
      <br>
      <span class="nome">
        (EVERALDO MACIEL CABRAL)
      </span>
      <br>
      Mestre Cabral descobriu a arte quando tinha apenas 14 anos. Na época, um padre da igreja de Olinda, onde o artesão mora até hoje, dava aulas de artesanato em uma oficina de arte, que hoje funciona o Museu de Arte Contemporânea, para jovens a partir de 16 anos. Como Cabral era dois anos mais novo e não podia participar das aulas, ele passou a bisbilhotar por trás da porta tudo o que o padre ensinava aos alunos. Foi aí que começou a produzir as suas próprias peças. Sua primeira obra foi um floral de madeira. Desde então, ele não parou mais.
     </p>

    
  </ion-content>
  <ion-footer> 
       
  </ion-footer>
</ion-app>

