<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/programacao">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Programação - Passarela
      </h1>
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px; width: auto;">
        <h2 style="text-align: right;">
          dia 11/Dez/2021 <sup>Sábado</sup>
        </h2>
        <table class="table table-dark w-100">
          <tr>
            <td colspan="2" class="text-danger text-center">19h – Loja Mape</td>
          </tr>
        </table>
        <h2 style="text-align: right;">
          dia 12/Dez/2021 <sup>Domingo</sup>
        </h2>
        <table class="table table-dark w-100">
          <tr>
            <td class="text-danger text-center">18h – Unifavip</td>
            <td class="text-danger text-center">20h – Quilombolas de São Lourenço</td>
          </tr>
        </table>
        <h2 style="text-align: right;">
          dia 13/Dez/2021 <sup>Segunda</sup>
        </h2>
        <table class="table table-dark w-100">
          <tr>
            <td class="text-danger text-center">18h – UNIFBV</td>
            <td class="text-danger text-center">20h – Conceição das Crioulas</td>
          </tr>
        </table>
        <h2 style="text-align: right;">
          dia 14/Dez/2021 <sup>Terça</sup>
        </h2>
        <table class="table table-dark w-100">
          <tr>
            <td class="text-danger text-center">18h – UFPE (Caruaru)</td>
            <td class="text-danger text-center">20h – Unicost</td>
          </tr>
        </table>
        <h2 style="text-align: right;">
          dia 15/Dez/2021 <sup>Quarta</sup>
        </h2>
        <table class="table table-dark w-100">
          <tr>
            <td  colspan="2"class="text-danger text-center">18h e 20h– Secretaria da Mulher de Pernambuco</td>
          </tr>
        </table>
        <h2 style="text-align: right;">
          dia 16/Dez/2021 <sup>Quinta</sup>
        </h2>
        <table class="table table-dark w-100">
          <tr>
            <td class="text-danger text-center">18h – Faculdade - Senac Caruaru</td>
            <td class="text-danger text-center">20h – Faculdade - Senac Recife</td>
          </tr>
        </table>
        <h2 style="text-align: right;">
          dia 17/Dez/2021 <sup>Sexta</sup>
        </h2>
        <table class="table table-dark w-100">
          <tr>
            <td class="text-danger text-center">18h - Unibra</td>
            <td class="text-danger text-center">20h – Cookie e Cabrocha</td>
          </tr>
        </table>
        <h2 style="text-align: right;">
          dia 18/Dez/2021 <sup>Sábado</sup>
        </h2>
        <table class="table table-dark w-100">
          <tr>
            <td class="text-danger text-center">18h - Paulo Duarte</td>
            <td class="text-danger text-center">20h – Vem meu bem</td>
          </tr>
        </table>
      </div>


  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
