<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      Estados
    </h1>
    <ul>
      <li>467 - Facas Artesanais Paz Pazini - PR</li>
      <li>468 - Coisas de Minas </li>
      <li>470 - Flor Silva - Amazonas </li>
      <li>471 - Doces Caseiros </li>
      <li>472 - Arteza </li>
      <li>473 - Flores Artesanais Fibras do Cerrado</li>
      <li>474 - Império do Nordeste</li>
      <li>475 - Art Majoara Pará </li>
      <li>476 - Terra Couro</li>
      <li>477 - Aparechitas</li>
      <li>478 - Fábrica de Esperança </li>
      <li>479 - Doces Artesanais</li>
      <li>480 - Tapeçaria Mineira</li>
      <li>481 - Coador Individual para Café</li>
      <li>482 - Artesanato Fibra de Buriti</li>
      <li>483 - Regina Coeli</li>
      <li>484 - Drika Bolsas</li>
      <li>501 - Fuô.A | Renda-se</li>
      <li>502 - Minas Gerais Artes </li>
      <li>503 - Lucy Teixeira</li>
      <li>504 - Art com Pedras </li>
      <li>505 - Mulheres da Vila - MG</li>
      <li>506 - Curso técnico em artesanal - IFAL</li>
      <li>507 - Luart - Artesanato de Alagoas </li>
      <li>508 - D’ Crochê</li>
      <li>509 - Artesanato da Família Muniz</li>
      <li>510 - Espaço do Artesão do Pará </li>
      <li>511 - Tok Divino Acessórios da Amazônia </li>
      <li>512 - Renata presente </li>
      <li>513 - Biscoitos Caseiros Caicó </li>
      <li>514 - Associação dos Artesãos de Cristalina Goiás</li>
      <li>515 - Panelas Capixabas e Pedra Sabão </li>
      <li>516 - Bitim Artesanatos - Ceará </li>
      <li>517 - Inês Artesanato </li>
      <li>518 - Ateliê Regina Couto Moda Sustentável </li>
      <li>519 - Rio Grande do Norte </li>
      <li>520 - Olinto Pedras Brasileiras </li>
      <li>521 - Artesanato de Miriti </li>
      <li>522 - Luciane Casagrande Designer </li>
      <li>523 - Ninna Bacana </li>
      <li>524 - Compor Casa - Almofadaria </li>
    </ul>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
