<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/menu">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
      <h1>
      Contato
     </h1>
     <p>
      Para dúvidas ou sugestões, entre em contato com a gente.
      81 3181-3454

      <strong>
        e-mail
      </strong>
        <a href="mailto:fenearte@centrodeartesanato.pe.gov.br">fenearte@centrodeartesanato.pe.gov.br</a>

      Atendimento de segunda a sexta-feira das 8h às 17h
     </p>

  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
