<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      Prefeituras <sup><small>Estandes</small></sup>
    </h1>
    <ul style="list-style-type:none;">
      <li>313 - Estande 313</li>
      <li>314 - Carpina </li>
      <li>315 | 316 - Secretaria da Mulher do Recife</li>
      <li>317 - Gravatá</li>
      <li>318 - Fernando de Noronha </li>
      <li>319 - Pombos</li>
      <li>320 - Arcoverde</li>
      <li>321 - Lagoa Grande </li>
      <li>322 - Estande 322</li>
      <li>323 - Moreno</li>
      <li>324 - Vitória de Santo Antão </li>
      <li>325 - Bom Conselho </li>
      <li>326 - Camocim de São Félix </li>
      <li>327 - Santa Cruz da Baixa Verde</li>
      <li>328 - Venturosa</li>
      <li>329 - Nazaré da Mata</li>
      <li>330 - Sertânia</li>
      <li>331 - Macaparana</li>
      <li>332 | 333 - Tracunhaém</li>
      <li>334 - Lagoa do Carro</li>
      <li>335 - Tacaratu </li>
      <li>336 - Glória do Goitá </li>
      <li>337 - Jatobá </li>
      <li>339 - Estande 339 </li>
      <li>340 - Estande 340 </li>
      <li>341 - Cortês </li>
      <li>342 - Poção </li>
      <li>343 - Estande 343 </li>
      <li>344 - Itapissuma </li>
      <li>345 - Estande 345 </li>
      <li>346 - Tuparetama</li>
      <li>347 - Tacaimbó </li>
      <li>348 - Olinda </li>
      <li>349 - Ipojuca </li>
      <li>351 - Estande 351</li>
      <li>352 - Itambé</li>
      <li>353 - Cabo de Santo Agostinho </li>
      <li>354 - Paudalho</li>
      <li>355 - Altinho </li>
      <li>356 - Feira Nova </li>
      <li>357 - Jataúba </li>
      <li>358 - Limoeiro </li>
      <li>359 - Chã de Alegria </li>
      <li>360 - Agrestina </li>
      <li>361 - Araçoiaba </li>
      <li>362 - Lajedo </li>
      <li>363 - Estande 363</li>
      <li>364 - Cupira</li>
      <li>365 - Goiana </li>
      <li>366 - Estande 366</li>
      <li>367 - Jaboatão dos Guararapes </li>
      <li>368 - Brejo da Madre de Deus </li>
      <li>369 - Pesqueira </li>
      <li>370 - Orobó </li>
      <li>371 - Paulista </li>
      <li>372 - Bezerros </li>
      <li>373 - Caruaru </li>
      <li>374 - Bonito</li>
      <li>375 - Salgadinho </li>
      <li>376 - São Lourenço da Mata</li>
      <li>377 - Afogados da Ingazeira</li>
      <li>378 - Ilha de Itamaracá </li>
      <li>381 - São Bento do Una </li>
      <li>382 - Ibimirim </li>
      <li>383 - Ibarajuba </li>
      <li>384 - Estande 384 </li>
      <li>385 - Timbaúba </li>
      <li>386 - Passira </li>
      <li>387 - Estande 387 </li>
      <li>388 - Igarassu</li>
    </ul>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
