<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/gastronomia">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Praça de Alimentação
      </h1>
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px; width: auto;">
        <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          Cardápio
        </h2>
          <ul style="list-style-type: none;">
            <li routerLink="dararipe">Delícias do Sertão Região Araripe PE </li>
            <li routerLink="mburger">MY BURGER</li>
            <li routerLink="ebarnabe">Empadinhas Barnabé</li>
            <li routerLink="frisabor">Frisabor</li>
            <li routerLink="frutetto">Frutetto Cozinha Artesanal Natural</li>
            <li routerLink="mdelas">Massa Delas Cone Pizza</li>
            <li routerLink="bobdog">Bob Dog – Dogueria Artesanal</li>
            <li routerLink="abahia">Acarajé da Bahia</li>
            <li routerLink="quintal">Quintal 122 </li>
            <li routerLink="cpe">Casa Pernambucana</li>
            <li routerLink="rpasteis">República dos Pastéis</li>
            <li>Café do Bonde</li>
            <li>Divina Macaxeira</li>
            <li routerLink="rcoxinha">Rei das Coxinhas de Gravatá</li>
          </ul>
      </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>
