ion-content {
  --ion-background-color: rgb(255, 201, 13);
  .txt-menu {
    padding-top: 0.3em;
    text-align: center;
    font-size: 0.7em;
  }
  .txt-option {
    font-size: 0.7em;
  }
  .col-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  col-expositor {
    background-color: white !important;
  }
  a{
    text-decoration: none;
    color:black;
  }
}


