<ion-app>
  <ion-header>
    <ion-item>
      <ion-back-button >
        <img class="back-splash"src="assets/imgs/caret-back-outline.svg">
      </ion-back-button>
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content style="display: flex; flex-direction: column; justify-content: center;">
    <ion-grid>
      <ion-row class="ion-justity-items-center" style="margin-top: 20px;">
        <ion-col size="12" class="col-menu" style="background-color: white; border-radius: 15px; border:2px solid black;">
            <img class="img-menu" src="assets/imgs/menu/btn-ache-expositor.svg"  style="margin-bottom: 10px; margin-top:10px;" (click)="goMapa()">
            <p class="txt-menu" (click)="goMapa()" style="text-align: center; font-size: 1em; margin-bottom: 0px;; ">ACHE O EXPOSITOR</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justity-items-center" style="padding-top: 15px;">
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-fenearte.svg" routerLink="/fenearte">
          <p class="txt-menu" routerLink="/fenearte">FENEARTE</p>
        </ion-col>
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-mestres.svg" routerLink="/mestres">
          <p class="txt-menu" routerLink="/mestres">MESTRES</p>
        </ion-col>
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-programacao.svg" routerLink="/programacao">
          <p class="txt-menu" routerLink="/programacao">PROGRAMAÇÃO</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-ingressos.svg" routerLink="/ingressos">
          <p class="txt-menu" routerLink="/ingressos">INGRESSOS</p>
        </ion-col>
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-expositores.svg" routerLink="/expositores">
          <p class="txt-menu" routerLink="/expositores">EXPOSITORES</p>
        </ion-col>
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-salao.svg" routerLink="/salao">
          <p class="txt-menu" routerLink="/salao">SALÕES E ESPAÇOS</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-janete-costa.svg" routerLink="/janete">
          <p class="txt-menu" routerLink="/janete">ESPAÇO JANETE COSTA</p>
        </ion-col>
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-muhne.svg" routerLink="/mapa">
          <p class="txt-menu" routerLink="/programacao">MAPA</p>
        </ion-col>
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-como-chegar.svg" (click)=" goGMaps()">
          <p class="txt-menu" (click)="goGMaps()">COMO CHEGAR</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-translado.svg" routerLink="/traslado">
          <p class="txt-menu" routerLink="/traslado">TRANSLADO</p>
        </ion-col>
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-gastronomia.svg" routerLink="/gastronomia">
          <p class="txt-menu" routerLink="/gastronomia">GASTRONOMIA</p>
        </ion-col>
        <ion-col size="4" class="col-menu">
          <img class="img-menu" src="assets/imgs/menu/btn-voce-fenearte.svg" (click)=" goInstaFenearte()">
          <p class="txt-menu"  routerLink="/vcnafenearte">VOCÊ NA FENEARTE</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <!--
    <p class="txt-footer">
      Não sei,<br>
      só sei que foi assim!
    </p>
    -->
  </ion-footer>
</ion-app>


