<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/salao">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
       Salão Ana Holanda
      </h1>
      <h2 style="text-align: end;">
      Peças Expostas
      </h2>
      <div class="opcoes">
       <ol>
         <li peca="1">FULGA DE NAMORADO</li>
        <li>BANCO TRIO NORDESTINO</li>
        <li>VOLANTE BRINCANTE DE RUA</li>
        <li>REMÉDIO PARA ALMA</li>
        <li>O AUTO DA COMPADECIDA (ARIANO SUASSUNA)</li>
        <li>VIDA SERTANEJA</li>
        <li>GÁRGULA DO SERTÃO</li>
        <li>CÓLERA DO DRAGÃO</li>
        <li>COBRA NO MANGUEZAL</li>
        <li>PAIS, FILHOS E NETOS DE MÃOS DADAS CONSTRUINDO O AMANHÃ</li>
        <li>SEREIA CABOCLA</li>
        <li>MAIS UMA VITÍMA</li>
        <li>REI E RAINHA DO MARACATU</li>
        <li>MULHER NORDESTINA</li>
        <li>PANDEMIA II</li>
        <li>SÃO BENEDITO EM SUA ESSENCIA</li>
        <li>"BRINCADEIRA DE CAVALO MARINHO ""CATIRINA"""</li>
        <li>O MAMULENGUEIRO - A ARTE NÃO APAGA, É SEMEADA</li>
        <li>DOIDIN PRA VÊ</li>
        <li>OLINDA SIMPLESMENTE LINDA</li>
        <li>A MULHER NA CANTORIA DE VIOLA</li>
        <li>OLEIRO</li>
        <li>REINO ARMORIAL</li>
        <li>HISTÓRIA DE PESCADOR</li>
        <li>PATRIMÔNIO EM CHEQUE</li>
        <li>A ARTE E O PENSAMENTO DO ARTISTA</li>
        <li>O FORRÓ DE LAMPIÃO E MARIA BONITA</li>
        <li>CASTELO DOS SONHOS</li>
        <li>PERSONAGEM DO MAMULENGO DIABO E MORTE</li>
        <li>GRACILIANO RAMOS E VIDAS SECAS</li>
        <li>CABOCLO DE LANÇA</li>
        <li>MULHER DANDO A LUZ</li>
        <li>PROSOPOPEIA DE BENTO TEIXEIRA</li>
        <li>ESCOLA</li>
        <li>O PESCADOR</li>
        <li>JOGO DE XADREZ CORAL</li>
        <li>PAMONHADA</li>
        <li>A GOTA D'AGUA</li>
        <li>PAU DE SEBO</li>
        <li>AOS PROFISSIONAIS DE SAÚDE NOSSA GRATIDÃO</li>
        <li>O CASAMENTO DE ZILDA COM SEU EUZÉBIO DA FINADA JUDITE</li>
        <li>A NATUREZA PEDE SOCORRO</li>
        <li>A COLHEITA</li>
        <li>GOBEKLI TEPE</li>
        <li>A FLOR DE PARAGALDINO</li>
        <li>PORQUE ELEITO BÔ OU NO SEU OLHO</li>
        <li>CASAL DE TEJU PASSEANDO</li>
        <li>ARIANO CONTA A HISTÓRIA DAS LA URSAS</li>
        <li>BRINCARIANO</li>
        <li>ÁGUIA</li>
        <li>OH! LINDA SITUAÇÃO PRA SE CONSTRUIR UMA VILA</li>
        <li>AVENTUREIROS</li>
        <li>AMOR DE MÃE</li>
        <li>TRAVESSA DO MAR</li>
        <li>VASO CARAMELO COM GOIABA</li>
        <li>BICHO DE TREZE CABEÇAS</li>
        <li>GATO SPHYNX INSPIRADO NA DEUSA BASTET</li>
        <li>A QUE TE ACOLHE</li>
        <li>O ANJO BORBOLETA</li>
        <li>DEUS E O APOCALIPSE</li>
        <li>EM TUDO ELE SERIA REI</li>

       </ol>
      </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>

