<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/salao">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
       Salão Ana Holanda
      </h1>
      <h2 style="text-align: end;">
      Peças Expostas
      </h2>
      <div class="opcoes">
       <ul style="list-style-type: none;">
         <li routerLink ="/salao/ana/details/1">FULGA DE NAMORADO</li>
          <li routerLink ="/salao/ana/details/2">BANCO TRIO NORDESTINO</li>
          <li routerLink ="/salao/ana/details/3">VOLANTE BRINCANTE DE RUA</li>
          <li routerLink ="/salao/ana/details/4">REMÉDIO PARA ALMA</li>
          <li routerLink ="/salao/ana/details/5">O AUTO DA COMPADECIDA (ARIANO SUASSUNA)</li>
          <li routerLink ="/salao/ana/details/6">VIDA SERTANEJA</li>
          <li routerLink ="/salao/ana/details/7">GÁRGULA DO SERTÃO</li>
          <li routerLink ="/salao/ana/details/8">CÓLERA DO DRAGÃO</li>
          <li routerLink ="/salao/ana/details/9">COBRA NO MANGUEZAL</li>
          <li routerLink ="/salao/ana/details/10">PAIS, FILHOS E NETOS DE MÃOS DADAS CONSTRUINDO O AMANHÃ</li>
          <li routerLink ="/salao/ana/details/11">SEREIA CABOCLA</li>
          <li routerLink ="/salao/ana/details/12">MAIS UMA VITÍMA</li>
          <li routerLink ="/salao/ana/details/13">REI E RAINHA DO MARACATU</li>
          <li routerLink ="/salao/ana/details/14">MULHER NORDESTINA</li>
          <li routerLink ="/salao/ana/details/15">PANDEMIA II</li>
          <li routerLink ="/salao/ana/details/16">SÃO BENEDITO EM SUA ESSENCIA</li>
          <li routerLink ="/salao/ana/details/17 "> BRINCADEIRA DE CAVALO MARINHO CATIRINA</li>
          <li routerLink ="/salao/ana/details/18">O MAMULENGUEIRO - A ARTE NÃO APAGA, É SEMEADA</li>
          <li routerLink ="/salao/ana/details/19">DOIDIN PRA VÊ</li>
          <li routerLink ="/salao/ana/details/20">OLINDA SIMPLESMENTE LINDA</li>
          <li routerLink ="/salao/ana/details/21">A MULHER NA CANTORIA DE VIOLA</li>
          <li routerLink ="/salao/ana/details/22">OLEIRO</li>
          <li routerLink ="/salao/ana/details/23">REINO ARMORIAL</li>
          <li routerLink ="/salao/ana/details/24">HISTÓRIA DE PESCADOR</li>
          <li routerLink ="/salao/ana/details/25">PATRIMÔNIO EM CHEQUE</li>
          <li routerLink ="/salao/ana/details/26">A ARTE E O PENSAMENTO DO ARTISTA</li>
          <li routerLink ="/salao/ana/details/27">O FORRÓ DE LAMPIÃO E MARIA BONITA</li>
          <li routerLink ="/salao/ana/details/28">CASTELO DOS SONHOS</li>
          <li routerLink ="/salao/ana/details/29">PERSONAGEM DO MAMULENGO DIABO E MORTE</li>
          <li routerLink ="/salao/ana/details/30">GRACILIANO RAMOS E VIDAS SECAS</li>
          <li routerLink ="/salao/ana/details/31">CABOCLO DE LANÇA</li>
          <li routerLink ="/salao/ana/details/32">MULHER DANDO A LUZ</li>
          <li routerLink ="/salao/ana/details/33">PROSOPOPEIA DE BENTO TEIXEIRA</li>
          <li routerLink ="/salao/ana/details/34">ESCOLA</li>
          <li routerLink ="/salao/ana/details/35">O PESCADOR</li>
          <li routerLink ="/salao/ana/details/36">JOGO DE XADREZ CORAL</li>
          <li routerLink ="/salao/ana/details/37">PAMONHADA</li>
          <li routerLink ="/salao/ana/details/38">A GOTA D'AGUA</li>
          <li routerLink ="/salao/ana/details/39">PAU DE SEBO</li>
          <li routerLink ="/salao/ana/details/40">AOS PROFISSIONAIS DE SAÚDE NOSSA GRATIDÃO</li>
          <li routerLink ="/salao/ana/details/41">O CASAMENTO DE ZILDA COM SEU EUZÉBIO DA FINADA JUDITE</li>
          <li routerLink ="/salao/ana/details/42">A NATUREZA PEDE SOCORRO</li>
          <li routerLink ="/salao/ana/details/43">A COLHEITA</li>
          <li routerLink ="/salao/ana/details/44">GOBEKLI TEPE</li>
          <li routerLink ="/salao/ana/details/45">A FLOR DE PARAGALDINO</li>
          <li routerLink ="/salao/ana/details/46">PORQUE ELEITO BÔ OU NO SEU OLHO</li>
          <li routerLink ="/salao/ana/details/47">CASAL DE TEJU PASSEANDO</li>
          <li routerLink ="/salao/ana/details/48">ARIANO CONTA A HISTÓRIA DAS LA URSAS</li>
          <li routerLink ="/salao/ana/details/49">BRINCARIANO</li>
          <li routerLink ="/salao/ana/details/50">ÁGUIA</li>
          <li routerLink ="/salao/ana/details/51">OH! LINDA SITUAÇÃO PRA SE CONSTRUIR UMA VILA</li>
          <li routerLink ="/salao/ana/details/52">AVENTUREIROS</li>
          <li routerLink ="/salao/ana/details/53">AMOR DE MÃE</li>
          <li routerLink ="/salao/ana/details/54">TRAVESSA DO MAR</li>
          <li routerLink ="/salao/ana/details/55">VASO CARAMELO COM GOIABA</li>
          <li routerLink ="/salao/ana/details/56">BICHO DE TREZE CABEÇAS</li>
          <li routerLink ="/salao/ana/details/57">GATO SPHYNX INSPIRADO NA DEUSA BASTET</li>
          <li routerLink ="/salao/ana/details/58">A QUE TE ACOLHE</li>
          <li routerLink ="/salao/ana/details/59">O ANJO BORBOLETA</li>
          <li routerLink ="/salao/ana/details/60">DEUS E O APOCALIPSE</li>
          <li routerLink ="/salao/ana/details/61">EM TUDO ELE SERIA REI</li>
       </ul>
      </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>
