<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/menu/mestres">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
     Nido
     </h1>
    <div class="card" style="width: 100%;">
      <img src="assets/imgs/mestres/nido.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="fs-6" style="text-align: right; font-style: italic;">
      ERONILDO JOSE CARLOS HONORATO
      </p>
      <p class="card-text" style="text-align: justify;">
        Eronildo José Carlos Honorato vive em Sirinhaém onde produz esculturas em madeira de jaqueira. Sua produção tem como característica principal as peças de grandes dimensões com temática de animais e personalidades, sendo atualmente a de Luiz Gonzaga a sua representação mais emblemática.
      </p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <ion-icon class="fs-1 " routerLink="/mestres" name="arrow-back-circle-outline"></ion-icon>
    </div>
  </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>
