<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/mestres">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Josa
     </h1>
    <div class="card" style="width: 100%;">
      <img src="assets/imgs/mestres/josa.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="fs-6" style="text-align: right; font-style: italic;">
      JOSEILSON DE PAULO LIRA
      </p>
      <p class="card-text" style="text-align: justify;">
         Joseilson de Paulo Lira entrou para o universo artístico aos dezoito, pintando as paisagens de Olinda no Alto da Sé. Hoje, como escultor, mantém em seu ateliê a produção de esculturas de madeira policromadas e naturais, representando a fauna diversificada e a cultura pernambucana. Araras, corujas, peixes, girafas e os bonecos gigantes do carnaval, diferenciais no trabalho do Mestre Josa, estão espalhados em várias partes do mundo.
      </p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <ion-icon class="fs-1 " routerLink="/mestres" name="arrow-back-circle-outline"></ion-icon>
    </div>
  </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>

