<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/programacao">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Programação <sup>Arena Gastronômica</sup>
      </h1>
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px; width: auto;">
        <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          Cozinha - Aula Show
        </h2>
        <table class="table table-striped w-100" >
          <thead class="table-dark text-center">
            <tr>
              <td>Dia</td>
              <td>Hora</td>
              <td>Quem</td>
            </tr>
          </thead>
          <tbody class="font-weight-light text-center">
            <tr>
              <td>10/dez</td>
              <td>14:30 às 15:30</td>
              <td>Miau Caldas</td>
            </tr>
            <tr>
              <td>11/dez</td>
              <td>11:30 às 12:30</td>
              <td>Heleno Junior</td>
            </tr>
            <tr>
              <td>11/dez</td>
              <td>14:30 às 15:30</td>
              <td>Chef Madalena Albuquerque</td>
            </tr>
            <tr>
              <td>12/dez</td>
              <td>11:30 às 12:30</td>
              <td>Chef Rapha Vasconcelos</td>
            </tr>
            <tr>
              <td>12/dez</td>
              <td>14:30 às 15:30</td>
              <td>Chef Lucia Soares</td>
            </tr>
            <tr>
              <td>13/dez</td>
              <td>11:30 às 12:30</td>
              <td>Buffet Pizaa Maker Down</td>
            </tr>
            <tr>
              <td>14/dez</td>
              <td>14:30 às 15:30</td>
              <td>Chef Pedro Godoy</td>
            </tr>
            <tr>
              <td>15/dez</td>
              <td>14:30 às 15:30</td>
              <td>Chef Yuri Machado</td>
            </tr>
            <tr>
              <td>16/dez</td>
              <td>14:30 às 15:30</td>
              <td>Chefs Yanne e Pedro</td>
            </tr>
            <tr>
              <td>17/dez</td>
              <td>14:30 às 15:30</td>
              <td>Chef Tiago das Chagas</td>
            </tr>
            <tr>
              <td>18dez</td>
              <td>11:00 às 12:30</td>
              <td>Chef  Cesar Santos</td>
            </tr>
            <tr>
              <td>18dez</td>
              <td>14:30 às 15:30</td>
              <td>Chef  Carmem Virgnia</td>
            </tr>
            <tr>
              <td>19dez</td>
              <td>11:00 às 12:30</td>
              <td>Chef  Eudes Cardoso</td>
            </tr>
             <tr>
              <td>19dez</td>
              <td>14:30 às 15:30</td>
              <td>Adriana Arregui</td>
            </tr>
          </tbody>
          </table>
      </div>


  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
