<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      Associações <sup><small>Estandes</small></sup>
    </h1>
    <ul>
      <li>379 - ASSOCIAÇÃO DOS ARTESÃOS DE BEZERROS</li>
      <li>380 - ASSOCIAÇÃO DAS MULHERES AMIGAS ARTESÃS (AMAA)</li>
      <li>389 - ASSOCIAÇÃO CAFE COM ARTE – PETROLANDIA</li>
      <li>390- ANA BORDADOS</li>
      <li>391-ASSOCIAÇÃO DE MULHERES DE SANTANA DE CAMARAGIBE</li>
      <li>392 -ASSOCIAÇÃO DOS TRABALHADORES RURAIS DO ASSENTAMENTO</li>
      <li>393 -ASSOCIAÇÃO DOS ARTESÕES E ARTESÃS DE NAZARÉ DA MATA-PE</li>
      <li>395- ASSOCIAÇÃO ARTES CURADO / REDE SOLAR</li>
      <li>396 - ARTE DE SERTANIA</li>
      <li>397 - ASSOCIAÇÃO DOS ARTESÃO ESCULTORES DE BREJO DA MADRE DE DEUS</li>
      <li>398 -MODA MANGUE</li>
      <li>399 - ASAS DE SÃO JOSÉ DA COROA GRANDE</li>
      <li>400 -ASSOCIAÇÃO DOS ARTESÃOS DE CAMARAGIBE – CAMARARTE</li>
      <li>401 – ASSOCIAPE</li>
      <li>402 -ASSOCIAÇÃO DAS MULHERES DE TRACUNHAEM</li>
      <li>403 -ASTALC- ASSOC. DAS TAPECEIRAS DE LAGOA DO CARRO</li>
      <li>404 -AMAM – MACAPARANA</li>
      <li>405 -GRAPA-PE</li>
      <li>406 - CLUBE DE MÃES GERALDA FARIAS</li>
      <li>407 - COOPERTEXTIL CARAIBEIRAS</li>
      <li>408 - PROJETO MINHA CIDADE MINHA IMAGEM – ASSUVAM</li>
      <li>409 - Estande 409</li>
      <li>410 - FUNDAÇÃO MIGUEL MENDONÇA</li>
      <li>411 -GOIANA-AUAG</li>
      <li>412 - STR- SALGADINHO-PE</li>
      <li>413 - ARIA SOCIAL - CASA DE MARIA</li>
      <li>414 – SINDARPE</li>
      <li>415 - ASSOCIAÇÃO DOS ARTESÃOS DO VALE DO CAPIBARIBE</li>
      <li>416 - TARECO E MARIOLA</li>
      <li>417 - ASSOCIAÇÃO DOS ARTESÃOS DE GRAVATÁ</li>
      <li>418 -RENDEIRAS DA GRAÇA</li>
      <li>419 - CASA DA MULHER DO NORDESTE</li>
      <li>420 - ARTECUPIRA</li>
      <li>422 -  PORTO SOCIAL</li>
      <li>423 - MULHERES ARTESÃS DA VILA CRUANGI</li>
      <li>424 - Estande 424 </li>
      <li>425 - Estande 425</li>
      <li>426 - Estande 426</li>
      <li>427 - Estande 427</li>
      <li>428 - ABS SURUBIM</li>
      <li>429 - JOSIANE BORDADOS</li>
      <li>430 - REDARTESAN – PE</li>
      <li>431 - FACARPE - FEDERAÇÃO ARTESÃOS</li>
    </ul>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>

