<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/mestres">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Rosalvo
     </h1>
    <div class="card" style="width: 100%;">
      <img src="assets/imgs/mestres/rosalvo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="fs-6" style="text-align: right; font-style: italic;">
        ROSALVO JOSÉ ASSIS DOS SANTOS
      </p>
      <p class="card-text" style="text-align: justify;">
         Rosalvo José Assis dos Santos participa da Fenearte desde sua primeira edição. Já expôs por diversas vezes no Salão de Arte Popular. Suas peças, santos em madeira que possuem características próprias. Todos eles passam um sentimento de bondade e simplicidade. Rosalvo aprendeu a esculpir com seu pai aos 13 anos e segue até hoje o traço iniciado por ele. Sua inspiração vem da motivação de produzir peças diferentes e, segundo ele, de seus sonhos.
      </p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <ion-icon class="fs-1 " routerLink="/mestres" name="arrow-back-circle-outline"></ion-icon>
    </div>
  </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>


