<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      Redes Solidárias
    </h1>
    <ul style="list-style-type: none;">
      <li>50 - CACHAÇA ENGENHO ÁGUA DOCE</li>
      <li>78 – CAPRIGUT</li>
      <li>115 - VERSADO CAFÉS ESPECIAIS</li>
      <li>134 - CACHAÇA TRIUMPHO</li>
      <li>180 - H&C BOMBONS ARTESANAIS</li>
      <li>225 - DA GUSTARE</li>
      <li>252 - CECILIA CHAVES CAKE SHOP</li>
      <li>277 -  CASA MONTEIRO DOCERIA</li>
    </ul>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
