<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/mestres">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Tapeçaria Timbi
     </h1>
    <div class="card" style="width: 100%;">
      <img src="assets/imgs/mestres/tapecaria_timbi.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="fs-6" style="text-align: right; font-style: italic;">
        MARIA DO CARMO CASSIMIRO
      </p>
      <p class="card-text" style="text-align: justify;">
         A história das tapeceiras de Timbi, bairro mais populoso do município de Camaragibe, Região Metropolitana do Recife, é, antes de tudo, uma narrativa do empoderamento feminino. A Associação, fundada em 1983, por um grupo de moradoras preocupadas com questões como saúde, qualificação, geração de renda e organização social, incluindo Maria Santana da Silva. Inicialmente, a ideia mobilizou cerca de 40 mulheres; muitas delas, levando para a nova organização a experiência da arte de tecer. Em uma trajetória focada no aperfeiçoamento de processos, a Associação conquistou respeito, premiações, reconhecimento nacional, tendo ainda o trabalho destacado até fora do país.
      </p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <ion-icon class="fs-1 " routerLink="/mestres" name="arrow-back-circle-outline"></ion-icon>
    </div>
  </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>
