<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      Redes Solidárias
    </h1>
    <ol start="571">
      <li>Sociedade Assistencial Saravida</li>
      <li>Associação Lar do Nenen </li>
      <li>Comunidade Espírita Elias Sobreira</li>
      <li>Fundação de Atendimento Socioeducativo</li>
      <li>Amar – Aliança de Mães e Famílias Raras</li>
      <li>Lar Fabiano de Cristo</li>
      <li>Fundação Alice Figueira de Apoio ao Imip</li>
      <li>Associação de Famílias para o bem-estar e tratamento da pessoa com autismo</li>
      <li>Núcleo de apoio a criança com câncer </li>
      <li>Lar nova esperança – Lane.</li>
      <li>Instituto Maria da Penha </li>
      <li>Associação Pernambucana dos Portadores de Leucemia</li>
      <li>Secretaria de Saúde – Hospital Colonial Alcides Codeceira</li>
      <li>Associação Pernambucana de Apoio aos Doentes de Fígado</li>
      <li>Centro de Atitudes CAT</li>
      <li>Associação de Assistência à Criança Deficiente</li>
      <li>Instituto Cristina Tavares de Atenção Integral ao Paciente com Câncer</li>
      <li>Centro de Reabilitação e Valorização da Criança</li>
    </ol>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
