<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/mestres">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
    Maria Amélia
     </h1>
    <div class="card" style="width: 100%;">
      <img src="assets/imgs/mestres/maria_amelia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="fs-6" style="text-align: right; font-style: italic;">
     MARIA AMÉLIA DA SILVA
      </p>
      <p class="card-text" style="text-align: justify;">
         Maria Amélia da Silva trabalha com o barro há mais de 50 anos, tendo aprendido o ofício com o pai, ainda na infância. A mais antiga artesã viva de Tracunhaém é reconhecida pelos santos católicos de rostos expressivos e roupas detalhadas. Mantém a tradição santeira da cidade, iniciada pela família Vieira, que não teve descendentes.
      </p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <ion-icon class="fs-1 " routerLink="/mestres" name="arrow-back-circle-outline"></ion-icon>
    </div>
  </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>


