<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/salao">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
   <ion-content>
     <div class="opcoes">
      <h1>
       Salão Ana Holanda
      </h1>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Peça Exposta é <br>{{peca}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
           <img src="assets/imgs/salao/ana/{{foto}}.jpg" class="card-img-top" alt="...">
        </ion-card-content>
      </ion-card>

      <img src="assets/imgs/salao/ana/1.jpg" class="card-img-top" alt="...">
     </div>
   </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
