<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/salao">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
       Reciclados
      </h1>
      <h2 style="text-align: end;">
      Peças Expostas
      </h2>
      <div class="opcoes">
       <ul style="list-style-type: none;">
          <li routerLink ="/salao/reciclados/details/1">MENTE ARMORIAL</li>
          <li routerLink ="/salao/reciclados/details/2">HOMEM CALANGO AZUL</li>
          <li routerLink ="/salao/reciclados/details/3">PÁSSARO LAMPIÃO</li>
          <li routerLink ="/salao/reciclados/details/4">CAVALGANDO</li>
          <li routerLink ="/salao/reciclados/details/5">PORTA VELAS: SANTA DE ROCA ARMORIAL</li>
          <li routerLink ="/salao/reciclados/details/6">VIAGEM AO UNIVERSO LÚDICO DAS BRINCADEIRAS TRADICIONAIS</li>
          <li routerLink ="/salao/reciclados/details/7">INFÂNCIA EM TEMPOS DE COVID</li>
          <li routerLink ="/salao/reciclados/details/8">SANTA CEIA</li>
          <li routerLink ="/salao/reciclados/details/9">OXALÁ</li>
          <li routerLink ="/salao/reciclados/details/10">ANASTÁCIA</li>
          <li routerLink ="/salao/reciclados/details/11">O PAVÃO</li>
          <li routerLink ="/salao/reciclados/details/12">MENOS PROJÉTEIS E MAS FLORES</li>
          <li routerLink ="/salao/reciclados/details/13">PEIXE</li>
          <li routerLink ="/salao/reciclados/details/14">O BOI NA NOITE ESTRELADA</li>
          <li routerLink ="/salao/reciclados/details/15">JOGO DA VELHA - FREVO X CABOCLINHO</li>
          <li routerLink ="/salao/reciclados/details/16">SOMOS UM - 50X97X8</li>
          <li routerLink ="/salao/reciclados/details/17">BRENNAND</li>
          <li routerLink ="/salao/reciclados/details/18">LOUVADA SEJA A VIDA</li>
          <li routerLink ="/salao/reciclados/details/19">CONSTELAR</li>
          <li routerLink ="/salao/reciclados/details/20">O DOMÍNIO</li>
          <li routerLink ="/salao/reciclados/details/21">ORATÓRIO DOS ANJOS</li>
          <li routerLink ="/salao/reciclados/details/22">"ANELÃO - ESTRELAR</li>
          <li routerLink ="/salao/reciclados/details/23">"BRINCO PAPAGAIO DO FUTURO</li>
          <li routerLink ="/salao/reciclados/details/24">"CONJUNTO DE COLAR E BRINCO DIA DE SOL</li>
          <li routerLink ="/salao/reciclados/details/25">CAMINHÃO ENGARRAFADO</li>
          <li routerLink ="/salao/reciclados/details/26">CHEVROLET GIGANTE (CARICATURA)</li>
          <li routerLink ="/salao/reciclados/details/27">DO MANGUE AO ARMORIAL - A FUGA</li>
          <li routerLink ="/salao/reciclados/details/28">EMPODERAMENTO</li>
          <li routerLink ="/salao/reciclados/details/29">NOSSA SRA MÃE DA CULTURA PERNAMBUCANA</li>
          <li routerLink ="/salao/reciclados/details/30">SERENATA PRA ROSINHA</li>
          <li routerLink ="/salao/reciclados/details/31">GUERREIRO DO INVISIVEL</li>
          <li routerLink ="/salao/reciclados/details/32">CANGAÇO O REI E A RAINHA</li>
          <li routerLink ="/salao/reciclados/details/33">O MANGUE CLAMA</li>
          <li routerLink ="/salao/reciclados/details/34">PORCO - ESPINHO</li>
          <li routerLink ="/salao/reciclados/details/35">PASTORIL ESTRELA DE BELÉM</li>
          <li routerLink ="/salao/reciclados/details/36">RETIRANTES</li>
          <li routerLink ="/salao/reciclados/details/37">GALO DA MADRUGADA</li>
          <li routerLink ="/salao/reciclados/details/38">CABOCLO DE LANÇA</li>
          <li routerLink ="/salao/reciclados/details/39">CONSCIÊNCIA </li>
          <li routerLink ="/salao/reciclados/details/40">FRAGMENTOS</li>
          <li routerLink ="/salao/reciclados/details/41">EU CÉLULA NO MUNDO</li>
          <li routerLink ="/salao/reciclados/details/42">BALEIOTA BLUE</li>
          <li routerLink ="/salao/reciclados/details/43">LUMINÁRIA CHEESE</li>
          <li routerLink ="/salao/reciclados/details/44">CIRANDA DE CABOCLO</li>
          <li routerLink ="/salao/reciclados/details/45">DOM QUIXOTE BRASILEIRO ARMORIAL</li>
          <li routerLink ="/salao/reciclados/details/46">BEIJA - FLOR</li>
          <li routerLink ="/salao/reciclados/details/47">ZABÉ DA LOCA, GUARDIÃ DOS ECOS DAS SERRAS</li>
          <li routerLink ="/salao/reciclados/details/48">LIA, A GUARDIÃ DAS ONDAS</li>
          <li routerLink ="/salao/reciclados/details/49">MADAME SATÃ, GUARDIÃ DOS PALCOS DOS GUETOS</li>
          <li routerLink ="/salao/reciclados/details/50">LEMBRANÇAS DE ALEGRIAS DO CARNAVAL</li>
          <li routerLink ="/salao/reciclados/details/51">ANJO MACHÊ</li>
          <li routerLink ="/salao/reciclados/details/52">SANTINHA MACHÊ</li>
          <li routerLink ="/salao/reciclados/details/53">AGLOMERÔ</li>
          <li routerLink ="/salao/reciclados/details/54">FUGINDO DA COVID-19 PARA OUTRO PLANETA</li>
          <li routerLink ="/salao/reciclados/details/55">MACUCA DO JOSÉ</li>
          <li routerLink ="/salao/reciclados/details/56">ANIMAIS A BORDO</li>
          <li routerLink ="/salao/reciclados/details/57">A CURA</li>
       </ul>
      </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>

