<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/mestres">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Roberto Vital
     </h1>
    <div class="card" style="width: 100%;">
      <img src="assets/imgs/mestres/roberto_vital.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="fs-6" style="text-align: right; font-style: italic;">
        ROBERTO VITAL
      </p>
      <p class="card-text" style="text-align: justify;">
         Roberto Vital já demonstrava, desde criança em Igarassu, tendência para arte. Atualmente, trabalha com esculturas em coqueiros, troncos de madeira e faz móveis para condomínios. Além disso, gosta muito de criar e trabalhar com reciclagem, já tendo, inclusive, sido premiado duas vezes no Salão de Arte Popular da Fenearte.
      </p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <ion-icon class="fs-1 " routerLink="/mestres" name="arrow-back-circle-outline"></ion-icon>
    </div>
  </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>
