<ion-app>
  <ion-header>
    <ion-item>      
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/menu">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>    
  </ion-header>
  <ion-content>
      <h1>
      É festa no reino da arte! 
     </h1>
     <p>
      A 21ª edição da Fenearte acontece de 10 a 19 de dezembro de 2021 no Centro de Convenções de Pernambuco. Nesse ano, a feira homenageia o Movimento Armorial idealizado por Ariano Suassuna há 51 anos. A campanha gráfica mostra figuras iconográficas dos traços de Zelia Suassuna, que este ano completa 90 anos, e destaca o cinquentenário do romance A Pedra do Reino. 
      A edição da feira celebra também o reconhecimento do IPHAN, por meio do prêmio Rodrigo Melo Franco, como uma iniciativa de preservação do patrimônio cultural imaterial, reconhecimento importante por valorizar e difundir os saberes tradicionais.         
     </p>     
      <ul>
        <li>21ª Fenearte</li>
        <li>De 10 a 19 de Dezembro de 2021</li>
        <li>Segunda a Quinta das 14h às 22h</li>
        <li>Sexta a Domingo das 10h às 22h </li>
      </ul>
      <h2>
        Fenearte 
       </h2>
       <p>
        A Feira Nacional de Negócios do Artesanato, Fenearte, é conhecida como a maior feira de artesanato da América Latina. Durante todo o evento o público pode conferir centenas de estandes de artesãos pernambucanos, além do trabalho de artesãos de outros Estados e até mesmo internacionais. Além disso, durante a feira é possível aproveitar uma programação que inclui oficinas de artesanato, apresentações culturais, rodadas de negócio, passarela de moda, teatro infantil e muito mais.
       </p>
       <h2>
        Movimento Armorial
       </h2>
       <p>
        Nascido na década de 70, o Movimento Armorial surgiu com o objetivo de valorizar as artes populares nordestinas, e sua ancestralidade ibérica. Idealizado pelo escritor paraibano Ariano Suassuna, a manifestação ganhou força e foi grande inspiração em diversas expressões artísticas como literatura, música, dança, teatro, artes plásticas, arquitetura, cinema, entre outras artes. O movimento 100% brasileiro e nordestino mostrou a força da nossa arte, buscando as perspectivas do sertão nordestino e apresentando a riqueza dos nossos valores culturais e artísticos.
       </p>
       <h2>
        Contato
       </h2>
       <p>
        Para dúvidas ou sugestões, entre em contato com a gente.  
        81 3181-3454
  
        <strong>
          e-mail
        </strong>   
          <a href="mailto:fenearte@centrodeartesanato.pe.gov.br">fenearte@centrodeartesanato.pe.gov.br</a>  
        
        Atendimento de segunda a sexta-feira das 8h às 17h
       </p>
    
  </ion-content>
  <ion-footer> 
       
  </ion-footer>
</ion-app>
