<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/menu">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Ingressos
     </h1>
     <ul>
       <li>
        Segunda a Quinta - R$10 (inteira) | R$5 (meia-entrada)
       </li>
       <li>
        Sexta, sábado e domingo - R$12 (inteira) | R$6 (meia-entrada)
       </li>
     </ul>

     <h1>
      Compre antecipadamente em <a href="http://www.ticketsimples.com" target="_blank"> Ticket Simples</a>
     </h1>

  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>

