<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      PAB Pernambuco
      <sup ><small>(ESTANDE)</small></sup>
      </h1>
      <ul>
        <li>Albino Junior Esculturas no palito de fosforo </li>
        <li>Ateliê Arte Manufatura 56</li>
        <li>Célia Rendas - Poção</li>
        <li>Almir Cultura</li>
        <li>Ana Falcão</li>
        <li>Gzaicaner Ceramista</li>
        <li>Andréa Maria da Silva</li>
        <li>Antonio Lisboa</li>
        <li>Bárbara Karennyne - Amigurumi Design</li>
        <li>CinViana</li>
        <li>Mestre Fábio Ramos</li>
        <li>Ivo das Talhas</li>
        <li>Mestre Edilson Xilogravuras</li>
        <li>Emerson da Silva Melo</li>
        <li>Laila Multiart</li>
        <li>Tuz Terracota - Alto do Moura</li>
        <li>Maria de Fátima  - Aguas Belas</li>
        <li>Três Marias</li>
        <li>Hilda Bordados</li>
        <li>Maria José  - Pesqueira</li>
        <li>Henrique Freitas</li>
        <li>Luiz Carlos Ferreira da Silva</li>
        <li>Miniencanto Trummer</li>
        <li>Marcelo&Artes</li>
        <li>Carmelita Rendas - Alagoinha</li>
        <li>Maria de Lourdes de Farias Pereira</li>
        <li>Mão que se divertem</li>
        <li>Marines Bonequeira</li>
        <li>Mauro Artesão</li>
        <li>Paulo Todahora</li>
        <li>Rabecas Valério Bizunga</li>
        <li>Mestre Wandecok</li>
      </ul>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
