<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/mestres">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
     Seu Neném
     </h1>
    <div class="card" style="width: 100%;">
      <img src="assets/imgs/mestres/snenen.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="fs-6" style="text-align: right; font-style: italic;">
      JOSE EUFRÁSIO FILHO
      </p>
      <p class="card-text" style="text-align: justify;">
         Aprendiz do pai, José Eufrásio Filho, de 52 anos, ingressou na confecção de artigos em couro com apenas oito anos de idade. Natural de Serra Talhada, o artista faz sucesso com os seus produtos, como calçados, bolsas e cintos.
      </p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <ion-icon class="fs-1 " routerLink="/mestres" name="arrow-back-circle-outline"></ion-icon>
    </div>
  </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>
