<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/programacao">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
      Programação - Oficinas
      </h1>
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px; width: auto;">
        <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          dia 10/Dez/2021 <sup>Sexta</sup>
        </h2>
        <table class="table table-striped w-100">
          <tr  style="border-top: 1px solid gray;">
            <td  class="text-danger text-center">1º Horário: 14H ÀS 17H30</td>
            <td  class="text-danger text-center">2º Horário: 18H ÀS 21H</td>
          </tr>
          <tr style="border-bottom: 0.5px solid gray;" >
            <td colspan="2" class="text-center text-dark">
              <ul>
                <li>
                  Oficina de Xilogravura - Pablo Borges
                </li>
                <li>Oficina de Instrumentos Musicais – Cleybson Barros</li>
                <li>Oficina de Modelagem em Cerâmica – Micaella Alcântara</li>
                <li>Oficina de Máscaras e Adereços – Valter Antônio</li>
                <li>Oficina de Reciclados – Flavio Davy</li>
              </ul>
            </td>
            </tr>
            <tr >
              <td  class="text-danger text-center">1º Horário: 14H ÀS 17H30</td>
              <td  class="text-danger text-center">2º Horário: 18H ÀS 21H</td>
            </tr>
            <tr>
            <td colspan="2" class=" text-dark text-center">
              <ul>
                <li>
                 Oficinas Pingouim
                </li>
              </ul>
             </td>
            </tr>
          </table>
          <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          dia 11/Dez/2021 <sup>Sábado</sup>
        </h2>
        <table class="table table-striped w-100">
          <tr  style="border-top: 1px solid gray;">
            <td  class="text-danger text-center">1º Horário: 13H ÀS 16H</td>
            <td  class="text-danger text-center">2º Horário: 17H ÀS 20H</td>
          </tr>
          <tr style="border-bottom: 0.5px solid gray;" >
            <td colspan="2" class="text-center text-dark">
              <ul>
                <li>Oficina de Xilogravura - Pablo Borges</li>
                <li>Oficina de Instrumentos Musicais – Cleybson Barros</li>
                <li>Oficina de Modelagem em Cerâmica – Micaella Alcântara</li>
                <li>Oficina de Mamulengo – Antônio Joaquim    </li>
                <li>Oficina de Máscaras e Adereços – Valter Antônio</li>
                <li>Oficina de Reciclados – Flavio Davy</li>
              </ul>
            </td>
            </tr>
            <tr >
              <td  class="text-danger text-center">1º Horário: 15H ÀS 17H</td>
              <td  class="text-danger text-center">2º Horário: 18H ÀS 20H</td>
            </tr>
            <tr>
            <td colspan="2" class=" text-dark text-center">
              <ul>
                <li>
                 Oficinas Pingouim
                </li>
              </ul>
             </td>
            </tr>
          </table>
          <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          dia 12/Dez/2021 <sup>Domingo</sup>
        </h2>
        <table class="table table-striped w-100">
          <tr  style="border-top: 1px solid gray;">
            <td  class="text-danger text-center">1º Horário: 13H ÀS 16H</td>
            <td  class="text-danger text-center">2º Horário: 17H ÀS 20H</td>
          </tr>
          <tr style="border-bottom: 0.5px solid gray;" >
            <td colspan="2" class="text-center text-dark">
              <ul>
                <li>Oficina de Xilogravura - Pablo Borges</li>
                <li>Oficina de Instrumentos Musicais – Cleybson Barros</li>
                <li>Oficina de Modelagem em Cerâmica – Micaella Alcântara</li>
                <li>Oficina de Mamulengo – Antônio Joaquim    </li>
                <li>Oficina de Máscaras e Adereços – Valter Antônio</li>
                <li>Oficina de Reciclados – Laila Ramona</li>
              </ul>
            </td>
            </tr>
            <tr >
              <td  class="text-danger text-center">1º Horário: 15H ÀS 17H</td>
              <td  class="text-danger text-center">2º Horário: 18H ÀS 20H</td>
            </tr>
            <tr>
            <td colspan="2" class=" text-dark text-center">
              <ul>
                <li>
                 Oficinas Pingouim
                </li>
              </ul>
             </td>
            </tr>
          </table>
          <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          dia 13/Dez/2021 <sup>Segunda</sup>
          </h2>
        <table class="table table-striped w-100">
          <tr  style="border-top: 1px solid gray;">
            <td  class="text-danger text-center">1º Horário: 14H ÀS 17H30</td>
            <td  class="text-danger text-center">2º Horário: 18H ÀS 21H</td>
          </tr>
          <tr style="border-bottom: 0.5px solid gray;" >
            <td colspan="2" class="text-center text-dark">
              <ul>
                <li>Oficina de Xilogravura - Pablo Borges</li>
                <li>Oficina de Instrumentos Musicais – Cleybson Barros</li>
                <li>Oficina de Modelagem em Cerâmica – Luiza Maria</li>
                <li>Oficina de Mamulengo – Antônio Joaquim    </li>
                <li>Oficina de Renascença – Silvana Medeiros</li>
                <li>Oficina de Reciclados – Laila Ramona</li>
              </ul>
            </td>
            </tr>
            <tr >
              <td  class="text-danger text-center">1º Horário: 15H ÀS 17H</td>
              <td  class="text-danger text-center">2º Horário: 18H ÀS 20H</td>
            </tr>
            <tr>
            <td colspan="2" class=" text-dark text-center">
              <ul>
                <li>
                 Oficinas Pingouim
                </li>
              </ul>
             </td>
            </tr>
          </table>
          <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          dia 14/Dez/2021 <sup>Terça</sup>
          </h2>
        <table class="table table-striped w-100">
          <tr  style="border-top: 1px solid gray;">
            <td  class="text-danger text-center">1º Horário: 14H ÀS 17H30</td>
            <td  class="text-danger text-center">2º Horário: 18H ÀS 21H</td>
          </tr>
          <tr style="border-bottom: 0.5px solid gray;" >
            <td colspan="2" class="text-center text-dark">
              <ul>
                <li>Oficina de Xilogravura - Pablo Borges</li>
                <li>Oficina de Instrumentos Musicais – Cleybson Barros</li>
                <li>Oficina de Modelagem em Cerâmica – Luiza Maria</li>
                <li>Oficina de Mamulengo – Edjane Maria </li>
                <li>Oficina de Renascença – Silvana Medeiros</li>
                <li>Oficina de Reciclados – Jorge Wanderley</li>
              </ul>
            </td>
            </tr>
            <tr >
              <td  class="text-danger text-center">1º Horário: 15H ÀS 17H</td>
              <td  class="text-danger text-center">2º Horário: 18H ÀS 20H</td>
            </tr>
            <tr>
            <td colspan="2" class=" text-dark text-center">
              <ul>
                <li>
                 Oficinas Pingouim
                </li>
              </ul>
             </td>
            </tr>
          </table>
          <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          dia 15/Dez/2021 <sup>Quarta</sup>
          </h2>
        <table class="table table-striped w-100">
          <tr  style="border-top: 1px solid gray;">
            <td  class="text-danger text-center">1º Horário: 14H ÀS 17H30</td>
            <td  class="text-danger text-center">2º Horário: 18H ÀS 21H</td>
          </tr>
          <tr style="border-bottom: 0.5px solid gray;" >
            <td colspan="2" class="text-center text-dark">
              <ul>
                <li>Oficina de Xilogravura – Gabriela Carvalho</li>
                <li>Oficina de Palha – Mestre Lourenço</li>
                <li>Oficina de Modelagem em Cerâmica – Luiza Maria</li>
                <li>Oficina de Mamulengo – Edjane Maria </li>
                <li>Oficina de Renascença – Silvana Medeiros</li>
                <li>Oficina de Reciclados – Jorge Wanderley</li>
              </ul>
            </td>
            </tr>
            <tr >
              <td  class="text-danger text-center">1º Horário: 15H ÀS 17H</td>
              <td  class="text-danger text-center">2º Horário: 18H ÀS 20H</td>
            </tr>
            <tr>
            <td colspan="2" class=" text-dark text-center">
              <ul>
                <li>
                 Oficinas Pingouim
                </li>
              </ul>
             </td>
            </tr>
          </table>
           <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          dia 16/Dez/2021 <sup>Quinta</sup>
          </h2>
        <table class="table table-striped w-100">
          <tr  style="border-top: 1px solid gray;">
            <td  class="text-danger text-center">1º Horário: 14H ÀS 17H30</td>
            <td  class="text-danger text-center">2º Horário: 18H ÀS 21H</td>
          </tr>
          <tr style="border-bottom: 0.5px solid gray;" >
            <td colspan="2" class="text-center text-dark">
              <ul>
                <li>Oficina de Xilogravura – Gabriela Carvalho</li>
                <li>Oficina de Palha – Mestre Lourenço</li>
                <li>Oficina de Modelagem em Cerâmica – Luiza Maria</li>
                <li>Oficina de Mamulengo – Edjane Maria </li>
                <li>Oficina de Reciclados – Flávia Regina</li>
                <li>Oficina de Renascença – Silvana Medeiros</li>
              </ul>
            </td>
            </tr>
            <tr >
              <td  class="text-danger text-center">1º Horário: 15H ÀS 17H</td>
              <td  class="text-danger text-center">2º Horário: 18H ÀS 20H</td>
            </tr>
            <tr>
            <td colspan="2" class=" text-dark text-center">
              <ul>
                <li>
                 Oficinas Pingouim
                </li>
              </ul>
             </td>
            </tr>
          </table>
           <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          dia 17/Dez/2021 <sup>Sexta</sup>
          </h2>
        <table class="table table-striped w-100">
          <tr  style="border-top: 1px solid gray;">
            <td  class="text-danger text-center">1º Horário: 14H ÀS 17H30</td>
            <td  class="text-danger text-center">2º Horário: 18H ÀS 21H</td>
          </tr>
          <tr style="border-bottom: 0.5px solid gray;" >
            <td colspan="2" class="text-center text-dark">
              <ul>
                <li>Oficina de Xilogravura – Gabriela Carvalho</li>
                <li>Oficina de Palha – Mestre Lourenço</li>
                <li>Oficina de Modelagem em Cerâmica – Mestre Nado</li>
                <li>Oficina de Mamulengo – Marines Teresa </li>
                <li>Oficina de Reciclados – Flávia Regina</li>
                <li>Oficina de Máscaras e Adereços – João Bosco</li>
              </ul>
            </td>
            </tr>
            <tr >
              <td  class="text-danger text-center">1º Horário: 15H ÀS 17H</td>
              <td  class="text-danger text-center">2º Horário: 18H ÀS 20H</td>
            </tr>
            <tr>
            <td colspan="2" class=" text-dark text-center">
              <ul>
                <li>
                 Oficinas Pingouim
                </li>
              </ul>
             </td>
            </tr>
          </table>
          <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          dia 18/Dez/2021 <sup>Sábado</sup>
          </h2>
        <table class="table table-striped w-100">
          <tr  style="border-top: 1px solid gray;">
            <td  class="text-danger text-center">1º Horário: 14H ÀS 17H30</td>
            <td  class="text-danger text-center">2º Horário: 18H ÀS 21H</td>
          </tr>
          <tr style="border-bottom: 0.5px solid gray;" >
            <td colspan="2" class="text-center text-dark">
              <ul>
                <li>Oficina de Xilogravura – Gabriela Carvalho</li>
                <li>Oficina de Estandarte – Luiz Antônio</li>
                <li>Oficina de Modelagem em Cerâmica – Mestre Nado</li>
                <li>Oficina de Mamulengo – Marines Teresa </li>
                <li>Oficina de Brinquedos Tradicionais – Dilhermando Alves</li>
                <li>Oficina de Máscaras e Adereços – João Bosco</li>
              </ul>
            </td>
            </tr>
            <tr >
              <td  class="text-danger text-center">1º Horário: 15H ÀS 17H</td>
              <td  class="text-danger text-center">2º Horário: 18H ÀS 20H</td>
            </tr>
            <tr>
            <td colspan="2" class=" text-dark text-center">
              <ul>
                <li>
                 Oficinas Pingouim
                </li>
              </ul>
             </td>
            </tr>
          </table>
          <h2 style="text-align: right;"  style="border-bottom: 3px solid gray;">
          dia 19/Dez/2021 <sup>Domingo</sup>
          </h2>
        <table class="table table-striped w-100">
          <tr  style="border-top: 1px solid gray;">
            <td  class="text-danger text-center">1º Horário: 14H ÀS 17H30</td>
            <td  class="text-danger text-center">2º Horário: 18H ÀS 21H</td>
          </tr>
          <tr style="border-bottom: 0.5px solid gray;" >
            <td colspan="2" class="text-center text-dark">
              <ul>
                <li>Oficina de Xilogravura – Gabriela Carvalho</li>
                <li>Oficina de Estandarte – Luiz Antônio</li>
                <li>Oficina de Modelagem em Cerâmica – Mestre Nado</li>
                <li>Oficina de Mamulengo – Marines Teresa </li>
                <li>Oficina de Brinquedos Tradicionais – Dilhermando Alves</li>
                <li>Oficina de Máscaras e Adereços – João Bosco</li>
              </ul>
            </td>
            </tr>
            <tr >
              <td  class="text-danger text-center">1º Horário: 15H ÀS 17H</td>
              <td  class="text-danger text-center">2º Horário: 18H ÀS 20H</td>
            </tr>
            <tr>
            <td colspan="2" class=" text-dark text-center">
              <ul>
                <li>
                 Oficinas Pingouim
                </li>
              </ul>
             </td>
            </tr>
          </table>
      </div>


  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
