<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/menu/mestres">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
     <h1>
     Neguinha
     </h1>
    <div class="card" style="width: 100%;">
      <img src="assets/imgs/mestres/neguinha.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="fs-6" style="text-align: right; font-style: italic;">
      MARIA DO CARMO DOS SANTOS
      </p>
      <p class="card-text" style="text-align: justify;">
        Como ela mesmo diz, já nasceu no barro. Maria do Carmo dos Santos, conhecida como Neguinha, é natural de Belo Jardim e louceira do Sítio dos Rodrigues. Nascida em 1961, trabalha com a argila da região, o tauá e o caulim. Filha, neta e bisneta de louceiras, seu trabalho é de tradição familiar. E do barro dá vida a peças, como as famosas cabeças, que são verdadeiras obras de arte.
      </p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <ion-icon class="fs-1 " routerLink="/mestres" name="arrow-back-circle-outline"></ion-icon>
    </div>
  </div>
  </ion-content>
  <ion-footer>
  </ion-footer>
</ion-app>
