<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      Praça de Alimentação
      </h1>
      <ol>
        <li>Delícias do Sertão Região Araripe PE </li>
        <li>MY BURGER </li>
        <li>Empadinhas Carnabé</li>
        <li>Frisabor</li>
        <li>Frutetto Cozinha Artesanal Natural</li>
        <li>Massa Delas Cone Pizza</li>
        <li>Bob Dog – Dogueria Artesanal</li>
        <li>Acarajé da Bahia</li>
        <li>Quintal 122 </li>
        <li>Casa Pernambucana</li>
        <li>República dos Pastéis</li>
        <li>Café do Bonde</li>
        <li> Divina Macaxeira</li>
        <li>Rei das Coxinhas de Gravatá</li>
      </ol>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
