<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      PAB
    </h1>
    <ul>
      <li>Acre </li>
      <li>Alagoas</li>
      <li>Amapá</li>
      <li>Amazonas</li>
      <li>Bahia</li>
      <li>Ceará</li>
      <li>Espírito Santo</li>
      <li>Goiás</li>
      <li>Maranhão</li>
      <li>Mato Grosso</li>
      <li>Mato Grosso do Sul</li>
      <li>Minas Gerais</li>
      <li>Pará</li>
      <li>Paraíba</li>
      <li>Paraná</li>
      <li>Pernambuco</li>
      <li>Piauí</li>
      <li>Rio de Janeiro</li>
      <li>Rio Grande do Norte</li>
      <li>Rio Grande do Sul</li>
      <li>Rondônia</li>
      <li>Santa Catarina</li>
      <li>São Paulo</li>
      <li>Sergipe</li>
      <li>Tocantins</li>
      <li>Distrito Federal</li>
    </ul>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
