<ion-app>
  <ion-header>
    <ion-item>      
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/menu">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>    
  </ion-header>
  <ion-content>
     <h1>
      Traslado
     </h1>
     
     <p>
      Para quem quer aproveitar melhor a feira, o expresso Fenearte está disponível gratuitamente com saídas do Shopping Tacaruna e Shopping Riomar. 
     </p>
     <p>
      Confira os horários:
     </p>   
     
     <h1>
      Estacionamento
     </h1>

     <ul>
       <li>Valor do estacionamento para a Fenearte no Riomar:</li>
       <li>Valor de estacionamento para a Fenearte no Shopping Tacaruna: </li>
       <li>Valor de estacionamento no Centro de Convenções: </li>
     </ul>

  </ion-content>
  <ion-footer> 
       
  </ion-footer>
</ion-app>

