<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      Internacional
    </h1>
    <ul>
      <li>442 - Japão</li>
      <li>443 - Emirados Árabes</li>
      <li>444 - Murano da Itália</li>
      <li>445 - Equador Artesanatos</li>
      <li>447|448 - Grécia</li>
      <li>449| 450 - Produtos em Madrepérolas - Filipinas</li>
      <li>451 | 452 - Paramaribo</li>
      <li>453|454 - Grécia</li>
      <li>455|456 - Índia </li>
      <li>457|  458 - República Tcheca </li>
      <li>459 | 460 - Art Of Lombok</li>
      <li>461 | 462 - East Africa</li>
      <li>463 | 464 - Japão</li>
      <li>465-  Decolores Guatemala </li>
      <li>466 - Antique Artesanal</li>
      <li>485 | 486 - Capadócia</li>
      <li>499 | 500 - SAHARANPUR INDIA</li>
      <li>487 - Egito</li>
      <li>488 - Arte Peru Inca </li>
      <li>489 - Abdou Lahat Faye</li>
      <li>490 - Antropikos - Uruguay </li>
      <li>491 - Arte da Indonésia</li>
      <li>492 -  Delicias de La Pantagonia - Argentina</li>
      <li>493 - Milagres Russos </li>
      <li>494 - Casa Africa </li>
      <li>495 - Porselen Dünyasi - Bosna Herzigowa</li>
      <li>496 - Turquia</li>
      <li>497 - Sadona - Colombia - Palha Toquilha </li>
      <li>498 - Tunísia </li>
    </ul>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>

