<ion-app>
  <ion-header>
    <ion-item>
      <img class="back-splash"src="assets/imgs/caret-back-outline.svg" routerLink="/expositores">
      <img class="img-header"src="assets/imgs/desenho-ariano-mini.svg">
      <img class="txt-header" src="assets/imgs/nome-fenearte.svg">
    </ion-item>
  </ion-header>
  <ion-content>
    <div class="opcoes">
     <h1>
      Individual Pernambuco
      </h1>
      <ol>
        <li>Estande 01</li>
        <li>Estande 02</li>
        <li>Estande 03</li>
        <li>Família Gomes, do Utilitário ao Decorativo</li>
        <li>Estande 05</li>
        <li>Estande 06</li>
        <li>Sandes_Mosaicos</li>
        <li>Ateliê Davison Valdevino</li>
        <li>Estande 09</li>
        <li>Zezinho Neto</li>
        <li>Cerâmica do Cabo | Figurativo</li>
        <li>Cerâmica do Cabo | Torno</li>
        <li>Telas do Mar</li>
        <li>Atelier Ilton Duarte</li>
        <li>Chalé do Artesanato</li>
        <li>Sr. Vaso</li>
        <li>DOLLYMIARTESANATTO</li>
        <li>Maruca</li>
        <li>Nana Veríssimo</li>
        <li>Maria Rosineide Santos Silva</li>
        <li>Ana Santiago Arte Brasileira</li>
        <li>Simone Lapenda</li>
        <li>Oficina de Formas</li>
        <li>Humberto Botão</li>
        <li>Studio Marcelo Tavares</li>
        <li>Lenys Artes em Barro</li>
        <li>Estande 27</li>
        <li>Marcos Beltrão Tracunhém</li>
        <li>Oficina Olaria</li>
        <li>Guida Marques</li>
        <li>Edson Batista, Neto de Severina Batista</li>
        <li>Janaina Barbosa – Alto do Moura</li>
        <li>Antônio Pimpo Arte Sacra</li>
        <li>Emerson Silva – Petrolina PE</li>
        <li>Oásis</li>
        <li>Vânia Coutinha</li>
        <li>Estande 37</li>
        <li>Freedom Cavalcanti</li>
        <li>Estande 39</li>
        <li>Paula Sette Barros Arte Cerâmica</li>
        <li>Peça Cerâmica Vidrada</li>
        <li>Guimarães Bezerra - Guima</li>
        <li>Fridas Suculentas</li>
        <li>Arnaldo Lopes</li>
        <li>Edy Show Bonecas de Luxo</li>
        <li>MV Cerâmica Studio</li>
        <li>Barro Branco</li>
        <li>Ana Soares Estética Intuitiva</li>
        <li>Estande 49</li>
        <li>ALIMENTAÇÃO</li>
        <li>GMC Ateliê</li>
        <li>Sr Pallet</li>
        <li>Fabio das Talhas Surubim PE</li>
        <li>Pingos Joy</li>
        <li>Moniart</li>
        <li>Estande 56</li>
        <li>João Marchetaria</li>
        <li>Estande 58</li>
        <li>Estande 59</li>
        <li>Casario Criativo</li>
        <li>Acessórios Ramifica</li>
        <li>Casa da Lili</li>
        <li>Xilogravura Borges</li>
        <li>Dimadeira Art Decor</li>
        <li>Leandro Loureiro Artes</li>
        <li>Dedeart</li>
        <li>Genildo</li>
        <li>Carina Lacerda</li>
        <li>Griferecife</li>
        <li>Neto</li>
        <li>Brinquedos Populares</li>
        <li>Saulo M</li>
        <li>Mestre Cajazinho</li>
        <li>Saad Decorações</li>
        <li>Holanda Artes Barrocas</li>
        <li>Frutu do Mosaico</li>
        <li>Ana Lopes Artesã</li>
        <li>ALIMENTAÇÃO</li>
        <li>Adrianne e Domingos Barros Design</li>
        <li>Ivan Borges Xilogravuras</li>
        <li>Jó Percurssivo Escada – PE</li>
        <li>Dé dos Carrinhos – Buenos Aires</li>
        <li>Marivaldo</li>
        <li>Mito Escultor (Paulista PE)</li>
        <li>Estande 85</li>
        <li>Mares</li>
        <li>Dona Nanda</li>
        <li>Xilogravuras J. Miguel</li>
        <li>João Victor</li>
        <li>Atelier Cícero Rodrigues, Petrolina – PE</li>
        <li>Art Madeira</li>
        <li>Tino</li>
        <li>Decoração e Arte</li>
        <li>Fredson Adjar</li>
        <li>Aptreze Design Criativo</li>
        <li>Leo de Sertânia</li>
        <li>Eliabe Lima</li>
        <li>Brinqueco</li>
        <li>Artesanato de Sertânia</li>
        <li>Jonatas de Iguaracy</li>
        <li>Cristine de Holanda</li>
        <li>Gegê Pedrosa</li>
        <li>Studio 122</li>
        <li>Toko Design Utilitário</li>
        <li>Osiel França de Sirinhaém</li>
        <li>Jardim das Artes Sirinhaém</li>
        <li>Atelier Carpentariu</li>
        <li>Madeirolandia</li>
        <li>Estande 109</li>
        <li>Paulo Costa</li>
        <li>Wagner Araújo - PE</li>
        <li>Márcio Artesanato</li>
        <li>Rosângela Borges Art Naif</li>
        <li>Estande 114</li>
        <li>ALIMENTAÇÃO</li>
        <li>Arte Rústica</li>
        <li>Estande 117</li>
        <li>Tilápia transformando vida – Petrolândia</li>
        <li>Madame Bidulê</li>
        <li>Cabrera</li>
        <li>Scamarts</li>
        <li>As Quilombolas de São Lourenço</li>
        <li>Caveman</li>
        <li>Couro&Estilo</li>
        <li>Dona Chica Couro Artesanal</li>
        <li>Simone Andrade</li>
        <li>Jailson Marcos</li>
        <li>Casebre Artes | Araripina</li>
        <li>Concredarte</li>
        <li>Ateliê Quadro de Reboco</li>
        <li>Mirarte Oficina de Arte</li>
        <li>Maisa Monteiro Acessórios</li>
        <li>Estande 133</li>
        <li>ALIMENTAÇÃO</li>
        <li>Estande 135</li>
        <li>DM.Art</li>
        <li>Estande 137</li>
        <li>J. Oliver Criações</li>
        <li>Mestre Altair Leal</li>
        <li>Leo Pinheiro</li>
        <li>P.S Metais – Gravatá</li>
        <li>Patrícia Barros</li>
        <li>Atelier Nelson Souza</li>
        <li>Dom Castanha Design Sustentável</li>
        <li>Dotes de Guria BY.: GUACIRA MALLMANN</li>
        <li>Diogum: Arte em Ferro</li>
        <li>Lia Marinho</li>
        <li>MCPS Arte em Lacre</li>
        <li>Inseto Legal</li>
        <li>Andralina Milina Ferreira dos Santos  </li>
        <li>Cláudia Pratas</li>
        <li>Soy Marina</li>
        <li>Patrícia Barros Bio Joias</li>
        <li>Nadja Lima</li>
        <li>Artesanato em Fibra de Bananeira</li>
        <li>Ivanildo Artesanato</li>
        <li>Palmeiral Arte Sustentável</li>
        <li>Arte em Palha de Milho e Fibra e Bananeira – Vivência PE</li>
        <li>Estande 159</li>
        <li>Lavand’alma cosméticos</li>
        <li>Artes em coco</li>
        <li>Caminho dos Cristais</li>
        <li>Leila Samudio – Arte em Vidro</li>
        <li>Simone Maior Arte</li>
        <li>Lourenço Gouveia Xilogeek</li>
        <li>Memorial Paulo Gomes</li>
        <li>Maria Papel Cadernos</li>
        <li>Thiago Claudino</li>
        <li>Cadernos</li>
        <li>Tacy Pontual Papel Machê</li>
        <li>Vôte Ateliê!</li>
        <li>S&T Art Design</li>
        <li>Atelier Cristina MAC Dowell</li>
        <li>Ilumiartelenita Artes em PVC</li>
        <li>Use Glitti</li>
        <li>Eu Q Fiz</li>
        <li>Studio Lama</li>
        <li>Cria</li>
        <li>Lays Gomes da Silva</li>
        <li>ALIMENTAÇÃO</li>
        <li>CONCRETO & CIA</li>
        <li>Arte Adonai Disco de Vinil</li>
        <li>André Menezes Art</li>
        <li>Atelier Mogno</li>
        <li>Beth Cyrne</li>
        <li>Atelier Walther Moreira | Georgia</li>
        <li>Nelly Cardozzo</li>
        <li>PATROCÍNIO</li>
        <li>PATROCÍNIO</li>
        <li>PATROCÍNIO</li>
        <li>Gleibson Cavalcanti</li>
        <li>DPINCELAR</li>
        <li>JCésar Atelier</li>
        <li>Aluízio Fernã, O pintor do sertão</li>
        <li>Erisson</li>
        <li>Carlos Ribeiro</li>
        <li>Helyda Landim</li>
        <li>Catharine Torres</li>
        <li>Paterson Cristovam</li>
        <li>Clélia Barqueta</li>
        <li>Di Farias</li>
        <li>Arte em Cores</li>
        <li>Etnias</li>
        <li>Natureza de Pernambuco</li>
        <li>R Mattos</li>
        <li>Cleosan Artes</li>
        <li>Bordados Finos de Passira</li>
        <li>Socorro Tareco</li>
        <li>Bordados Manuais para Recém-nascidos</li>
        <li>Caraibeiras Artesanato</li>
        <li>Tacaratu Artesanato</li>
        <li>Caribeiras Artesanato</li>
        <li>Encantos da Renascença Poção</li>
        <li>Donna Trichê</li>
        <li>Monaliza Enxovais</li>
        <li>Dayse Gomes</li>
        <li>Bordado Feito a mão</li>
        <li>Sandara Arts</li>
        <li>Arte com Fios Bordados</li>
        <li>Estação da Casa Limoeiro - PE</li>
        <li>Flávia Artesanato</li>
        <li>Casa de Pano</li>
        <li>Nena Rendas de Poção</li>
        <li>Terezinha</li>
        <li>ALIMENTAÇÃO ARTESANAL</li>
        <li>Rede Tacaratu</li>
        <li>Valdeci Rendas Poção – PE</li>
        <li>Artesanatos Manuais de Passira</li>
        <li>Donna Joaninha</li>
        <li>FioSe7e</li>
        <li>Gomes e Nina Artesanatos</li>
        <li>Fina Renascença de Poção</li>
        <li>Cícera Arte em Crochê</li>
        <li>Flavinho Artesanato</li>
        <li>Maria Chiquinha</li>
        <li>Arte em Tapeçaria - Eliane Santos</li>
        <li>Bordados Manuais</li>
        <li>Dirce Tapeceira L. do Carro</li>
        <li>Woly Moda Pet</li>
        <li>Valdir Artesanato</li>
        <li>Kasa com K</li>
        <li>Bordados de Limoeiro</li>
        <li>Rendeiras Indígenas Xukuru</li>
        <li>Tapetes de Lagoa do Carro (Terra do Tapete)</li>
        <li>Dora do Crochê</li>
        <li>Como no Tempo da Vovó</li>
        <li>Maria Melo Costurando Ideias</li>
        <li>Rendas de Poção</li>
        <li>Oscarina Rendas</li>
        <li>Arte Maravilhosa – Poção – PE</li>
        <li>Kazu Artesanato</li>
        <li>ALIMENTAÇÃO ARTESANAL</li>
        <li>Arte de Brincar</li>
        <li>Rendas e Encantos de Poção</li>
        <li>Germana do Crochê</li>
        <li>Bordados Manuais</li>
        <li>Maria Tapetes Lagoa do Carro</li>
        <li>Selma Artesanato</li>
        <li>Crabolando</li>
        <li>Bordados Manuais</li>
        <li>Melancia</li>
        <li>Maria Rita</li>
        <li>Eliane Mello</li>
        <li>Telma Motta</li>
        <li>Dona Rosa</li>
        <li>Renata Jatobá, Camila Jatobá e Daniela Santana</li>
        <li>Luciano Barreto</li>
        <li>Aj Dengo de Mãe</li>
        <li>Dona Quitéria</li>
        <li>Terno Olinda Style</li>
        <li>De mim pr’ocê</li>
        <li>Ateliana Crochê</li>
        <li>Maciel Salú</li>
        <li>Moda Aflorar</li>
        <li>Praiana</li>
        <li>Diretalhos</li>
        <li>ALIMENTAÇÃO ARTESANAL</li>
        <li>Camisas Carambolas</li>
        <li>Thaynan, Sônia e Zélia</li>
        <li>Estande 280</li>
        <li>Linha da Mão</li>
        <li>Prazeres Accioly</li>
        <li>Mariah Araújo</li>
        <li>Ester Bispo</li>
        <li>F.A.G Bolsas</li>
        <li>Essa Sujeita</li>
        <li>Lucy Celestino Veste</li>
        <li>Noctivagus</li>
        <li>Rafa Q Faz – Vista Cultura</li>
        <li>Menina dos Olhos</li>
        <li>Flor de Nina & Nino</li>
        <li>Período Fértil</li>
        <li>Ôximaria</li>
        <li>Nanartes</li>
        <li>Dede Art Macaparana</li>
        <li>Ateliê Panos e Cores</li>
        <li>Bernadete Renascença – De poção para o mundo</li>
        <li>Eliane Bordados Manuais</li>
        <li>Arte Entre Irmãs</li>
        <li>Isadora Laís Lima Nogueira</li>
        <li>Célia Artesanato</li>
        <li>Artesanato Caraíbeiras</li>
        <li>Arte Primitiva</li>
        <li>Fazendo Fita</li>
        <li>Baby Sills Atelier</li>
        <li>Renda de Agulha</li>
        <li>Arte em Bordados</li>
        <li>Redes tradicionais de caraibeiras</li>
        <li>Relma Andrade</li>
        <li>Sandra Bolsas e Artesanatos - Caraibeiras</li>
        <li>Estande 311</li>
        <li>ALIMENTAÇÃO ARTESANAL</li>
      </ol>
    </div>
  </ion-content>
  <ion-footer>

  </ion-footer>
</ion-app>
